#content-wrap {
    padding-bottom: 2.5rem;
    position: relative;
    min-height: 100vh; 
}
.picture_contact {
    height: 50vh;
    background:
        url("./images/contact1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.picture_contact h1 {
    margin-top: 14rem;
    margin-left: -34rem;
}
.wrapper_contact {
    grid-template-rows: auto auto auto;
    grid-template-columns: 25% 25% auto;
    margin: 2%;
    width: 90%;
    background-color: #f4b4d0;
    display: inline-grid;
}
.contact_info {
    grid-column: 1;
        grid-row: 2;
    
}
.contact_info {
    
    color: #7b2e2f;
    margin: 0;
    padding: 0;
}
.ul_li {
    float: left;
    line-height: .5;
    margin: 0;
    padding: 10px;
}
.chat {
    grid-column: 2;
        grid-row: 2;
    
}
.team_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
}
.photo_support {
    float: left;
    
}
.description_support p {
    font-size: 16px;
    margin-top: 0;
}
.contact_fillform {
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 500px;
        background: #fff3f3;
        padding: 50px;
        margin: 30px auto;
        
        position: relative;
    
}
.form,
.form-items {
    width: 100%;
}
.form-items .input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0px;
    outline: none;
    border-radius: 30px;
}

.form-items .input.message {
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
}

.btn_submit {
    background: #ed7973;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
}
.btn_submit:hover {
    background-color: #fff;
    color:#ed7973
}

.btn .fas  {
    margin-left: 10px;
    font-size: 12px;
}

.form-items {
    position: relative;
}

.form-items .fas {
    position: absolute;
    top: 15px;
    left: 15px;
    
}
.contact_map {
    grid-column: 1 / span 2;
    text-align: center;
}

.contact_info, .contact_map p {
    
    padding-left: 10%;
    width: 80%;
}

.gmap_canvas {
    margin-left: 5%;
    margin-right: 5%;
}
