#content-wrap {
    padding-bottom: 2.5rem;
    position: relative;
    min-height: 100vh;
}

.picture_menu {
    height: 50vh;
    background:
        url("./images/menu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}
.picture_menu h1 {
    margin-top: 12rem;
    margin-left: -1rem;
}
.grid_menu {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 0;
}
h3 {
    font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        color: #ed7973;
        line-height: 0%;
}



.menu-wrapper {
    display: flex;
}
.half-menu {
    flex: 50%;
    align-items: stretch;
}

.menu_item {
    display: flex;
    align-items: baseline;
    margin-left: 5%;
}

.item_header {
    display: flex;
    align-items: baseline;
}

h4 {
    font: 20px cookie, cursive;
    color: #ac2c77;
    letter-spacing: 2px;
    margin: 0;
}

.item_dots {
    border-bottom: dotted 3px #7b2e2f;
    width: 40rem;
    float: left;
    position: relative;
    display: block;
    height: 12px;
    margin: 0 5px 0 5px;
}


.item_price {
    color: #ac2c77;
    font: 20px cookie, cursive;
}

.item_description {
    font-size: 16px;
    padding-left: 100px;
    line-height: 0;
}

.menu_picture1 {
    height: 40vh;
        background:
            url("./images/menu1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
}
.menu_picture2 {
    height: 40vh;
    background:
        url("./images/menu2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.reservation {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
.btn_menu {
    
        border: none;
        background: #ac2c77;
        color: #fff;
        margin-left: 25px;
}

.btn_menu:hover {

    border: none;
    background: #7b2e2f;
    color: #fff;
}

.reservation label {
    color: #ed7973;
    font-size: 20px;
    margin-left: 25px;
    font-family: 'Pangolin';
}
input {
    border-color: #ac2c77;
    color: #ac2c77;
}

.menu_pictures_row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.menu_pictures h3 {
    margin-top: 2%;
}

.element-title {
    font-style: italic;
    text-align: center;
    line-height: .5;
}

.element_image {
    max-width: 250px;
    height: auto;
    border-radius: 20px;
    border-color: #ed7973;
    border-style: solid;
    margin-top: 15%;
}
